name: Release
on:
  push:
    branches:
      - main
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Setup npm 11
        run: npm install -g npm@11.6.4
      - name: Install dependencies
        run: npm ci --workspaces --include-workspace-root
      - name: Build
        run: npm run build
      - name: Create release PR or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: "Release"
          title: "Release"
          version: npm run changeset:version
          publish: npx changeset publish
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # see https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          NPM_TOKEN: ''
          NPM_CONFIG_PROVENANCE: true
